*.kate-swp
*.orig
*~
.#*
.*~
.kateproject*
/.env
/.idea/
/.inotify
/composer.lock
/database/backups/
/database/schema/
/node_modules/
/npm-debug.log
/public/*/debugbar.*
/public/*/min/
/resources/assets/bower/
/resources/lang/*/LC_MESSAGES/messages.po.old
/storage/debugbar/
/storage/gettext/
/tags
/vendor
