*.kate-swp
*~
.*~
/.env
/.inotify
/database/backups/
/database/schema/
/public/*/debugbar.*
/public/*/min/
/resources/lang/*/LC_MESSAGES/messages.po.old
/storage/debugbar/
/storage/gettext/
/tags
/vendor
